@model khainguyen_FirstStep.Areas.AdminCP.Models.AdminBannerModel
@{
    ViewBag.Title = "Sửa Banner";
    Layout = "~/Areas/AdminCP/Views/Shared/AdminLayout.cshtml";
}

<script src="@Url.Content("~/Content/cssAdmin/js/plugins/jquery-1.7.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/cssAdmin/js/plugins/jquery-ui-1.8.16.custom.min.js")" type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("~/Content/cssAdmin/ckeditor/ckeditor.js")"></script>
<script>
    var ckeditor;
    function create(languageCode, id) {
        var editor = CKEDITOR.replace(id, { language: languageCode });
    }

    $(function () { create("vi", "NoiDung") });
</script>



<div class="maincontentinner">
    <ul class="maintabmenu">
        <li><a href="@Url.Action("Index", "AdminBanner")">Index</a></li>
        <li class="current"><a href="#">Edit</a></li>
    </ul>
    <!--maintabmenu-->
    <div class="notification msgsuccess" style="display: none" id="nofSuccess">
        <a class="close"></a>
        <p id="msgNofSuccess">This is a success message.</p>
    </div>
    <!-- notification msgsuccess -->

    <div class="notification msgerror" style="display: none" id="nofError">
        <a class="close"></a>
        <p id="msgNofError">This is an error message.</p>
    </div>
    <!-- notification msgerror -->
    @using (Html.BeginForm("Edit", "AdminBanner",
            new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "stdform stdform2", @enctype = "multipart/form-data" }))
    {
        <div class="contenttitle radiusbottom0">
            <h2 class="table"><span>Edit</span></h2>
        </div>
        <!--contenttitle-->
        <p>
            <label>Loại banner</label>
            <span class="field">
                @Html.EnumDropDownListFor(model => model.LoaiBanner, new { @class = "loaibanner" })
                <span class="des">Video clip: Vui lòng copy ......</span>
            </span>
        </p>
        <div class="typeimage">
            <p>
                <label>Hình Ảnh</label>
                <span class="field">
                    <img src="~/Content/Images/Banner/@Model.Anh" width="600" height="100" />
                </span>
            </p>
            <p>
                <label>Hình Ảnh</label>
                <span class="field">
                    <input type="file" id="Anh" name="Anh" />
                </span>
            </p>
            <p>
                <label>Tiêu Đề</label>
                <span class="field">
                    @Html.EditorFor(model => model.TieuDe)
                </span>
            </p>
            <p>
                <label>Nội Dung</label>
                <span class="field">
                    <textarea id="NoiDung" name="NoiDung">@Model.NoiDung</textarea>
                </span>
            </p>
            <p>
                <label>Tên Nút</label>
                <span class="field">
                    @Html.EditorFor(model => model.TenNut)
                </span>
            </p>
        </div>
        <p>
            <label>Vị trí</label>
            <span class="field">
                <input type="number" id="ViTri" name="ViTri" />
            </span>
        </p>
        <p>
            <label>Link Nút</label>
            <span class="field">
                @Html.EditorFor(model => model.LinkNut)
            </span>
        </p>

        @Html.HiddenFor(model => model.Id)

        <p class="stdformbutton">
            <input type="submit" value="Ok" />
            <input type="submit" value="Back" onclick="javascript: history.back(); return false" />
        </p>

    }


</div>
<!--maincontentinner-->

<script>
    $(document).ready(function () {
        var typeimagechange = function () {
            if ($('.loaibanner').val() == '0') {
                $('.typeimage').show();
            } else {
                $('.typeimage').hide();
            }
        }
        $('.loaibanner').change(function () { typeimagechange(); });
        typeimagechange();
    });
</script>
