@model IEnumerable<khainguyen_FirstStep.EntityPhanThuong>
@{
    ViewBag.Title = "ThanhToan_Lan1";    
}

@section MeTaHeader
{
    <meta name="robots" content="noindex,nofollow" />
    <title>Thanh toán - Bước 1</title>
}

<style>
    .uploadanh, .uploadanh1 {
        color: #900;
        background: none repeat scroll 0 0 #FBE3E3;
        padding: 5px 10px;
        overflow: hidden;
        display: none;
        margin: 8px 0;
    }
</style>
<div class="page dark">
    <div class="container">
        <div class="title"><h1>@ViewBag.DuAn.TenDuAn</h1></div>
        <div class="author">Người đăng <a href="#">@ViewBag.DuAn.EntityUser.HoTen</a></div>

        <div class="page-detail">
            <div class="detail-row">
                <div class="left-col">
                    @Html.Hidden("Flag", "0")
                    @using (Html.BeginForm("ThanhToan_Lan2", "ThanhToan", FormMethod.Post, new { @id = "formThanhToanB1" }))
                    {
                        <h1 class="color-tiny">Thanh toán!</h1>
                        <p><b>Nhập số tiền bạn tham gia : </b></p>
                        <div class="col-2">
                            <label class="form-group-icon">
                                @Html.TextBox("SoTien", (int)ViewBag.SoTien, new { @class = "form-txt auto", @data_p_sign = "s", @data_v_min = "0", @data_v_max = "99999999999999", @name="SoTien" }) VNĐ
                            </label>
                            @Html.Hidden("IdDuAn", (int)ViewBag.DuAn.Id)
                        </div>
                        <div class="col-2">
                            <span>
                                Tùy thuộc vào bạn !<br />
                                Tối thiểu là 50,000 VNĐ hoặc nhiều hơn.
                            </span>
                        </div>
                        
                        <div class="clearfix"></div>
                        <div class="uploadanh" hidden="hidden">Vui lòng nhập số tiền tài trợ từ 50,000 VNĐ trở lên</div>
                        <div class="uploadanh1" hidden="hidden">Vui lòng nhập số tiền lớn hơn hoặc bằng giá trị phần thưởng bạn chọn</div>

                        <div class="space_20"></div>
                        <p><b>Chọn mức tham gia :</b></p>

                        <div class="reward-choose-item">
                            <div class="col-3-7">
                                <label class="form-label">
                                    @Html.RadioButton("phanthuong", 0, new { @checked = "true", @data_price = 0 })
                                    <b>Không chọn</b>
                                </label>
                                <div class="des"></div>
                            </div>
                            <div class="col-7-3">
                                <div class="reward-des">Cảm ơn, tôi chỉ muốn giúp đỡ dự án, không cần nhận thưởng.</div>
                            </div>
                        </div>
                        foreach (var item in Model)
                        {
                            <div class="reward-choose-item @(ViewBag.pt == "#" + item.Id ? "choosed" : "")">
                                <div class="col-3-7">
                                    <label class="form-label">
                                        @if (ViewBag.pt == "#" + item.Id) { @Html.RadioButton("phanthuong", item.Id, new { @data_price = item.TienHoTro, @checked = "true" });}
                                        else { @Html.RadioButton("phanthuong", item.Id, new { @data_price = item.TienHoTro }); }                                        
                                        <b>@string.Format("{0:0,0}", item.TienHoTro) VNĐ hoặc hơn</b>
                                    </label>
                                    <div class="des"></div>
                                </div>
                                <div class="col-7-3">
                                    <div class="reward-des"> @item.NoiDung</div>
                                    <span class="estimated">Hình thức : @item.HinhThucGiao</span>
                                </div>
                            </div>
                        }
                        <div class="clearfix"></div>
                        <hr />
                        <div class="box-save">
                            <button class="btn btn-big">Tiếp tục bước tiếp theo</button>
                        </div>
                    } @* end form *@
                </div>
                <div class="right-col">
                    <div class="reward-avide">
                        <h3>LƯU Ý</h3>
                        <p>
                            FirstStep không đảm bảo các dự án hoặc điều tra khả năng của một người sáng tạo để hoàn thành dự án của họ. Đây là trách nhiệm của tác giả dự án để hoàn thành dự án của họ như đã hứa, và những tuyên bố của dự án này là của riêng họ.
                        </p>
                        <p><a href="#">Tìm hiểu thêm về trách nhiệm</a></p>
                    </div>
                    <div class="reward-list-ask">
                        <h3>CÂU HỎI THƯỜNG GẶP</h3>
                        <div class="faq-ask">
                            <a href="#">Có thể nhập số tiền ủng hộ lớn hơn giá trị phần thưởng được không?</a>
                            <div class="faq-ans">
                                <p>Hoàn toàn được. Hiện Firststep đã cập nhật tính năng cho phép bạn nhập số tiền ủng hộ lớn hơn hoặc bằng mức phần thưởng mà bạn chọn. </p>
                            </div>
                        </div>
                        <div class="faq-ask">
                            <a href="#">Số tiền ủng hộ lớn hơn phần thưởng được chọn thì có thể nhận thêm phần thưởng khác không?</a>
                            <div class="faq-ans">
                                <p>Điều này là không được. Theo quy định thì chủ dự án chỉ có trách nhiệm gửi tặng bạn lại phần thưởng tương ứng với mục bạn đã lựa chọn mà thôi.</p>
                            </div>
                        </div>

                    </div>
                    <div class="reward-payment"></div>
                    @*<img src="~/Content/cssFrontEnd/images/amazon_payments_footer.png" />*@
                </div>
            </div>
        </div>
    </div>
</div>

@section jqueryPlugin{
    @*<script src="~/Scripts/jquery-1.8.2.min.js"></script>*@
    <script type="text/javascript" src="~/Content/cssFrontEnd/js/autoNumeric.js"></script>
    <script>
        $(document).ready(function () {
            $('.reward-choose-item').change(function (e) {
                $(this).find('input[type=radio]').prop('checked', true);
                $('.reward-choose-item').removeClass('choosed');
                $(this).addClass('choosed');
                if ($('#Flag').val() == '1') {
                    return;
                }
                else if ($("input[name='phanthuong']:checked").val() == '0') {
                    $('#SoTien').autoNumeric('set', '0');
                }
                else {
                    //if (parseInt($('#SoTien').autoNumeric('get')) < parseInt($("input[name='phanthuong']:checked").val())) {
                    $('#SoTien').autoNumeric('set', $("input[name='phanthuong']:checked").data("price"));
                }
            });

            $('#SoTien').change(function (e) {
                $('#Flag').val('1');
            });

            $('.faq-ans').each(function () {
                $(this).attr('data-height', $(this).height()).height(0);
            });
            $('.faq-ask a:first-child').click(function (e) {
                e.preventDefault();
                if ($(this).attr('data-show') == "1") {
                    $(this).attr('data-show', 0);
                    $(this).next().animate({ height: 0 }, 300);
                }
                else {
                    $(this).attr('data-show', 1);
                    $n = $(this).next();
                    $n.animate({ height: $n.attr('data-height') }, 300);
                }
            });

            $("@ViewBag.pt").prop("checked", true);
        })
        jQuery(function ($) {
            $('.auto').autoNumeric('init');
        });

        $("#SoTien").change(function () {            
            checkInput();
        });

        $("#formThanhToanB1").submit(function (data) {
            console.log(data);
            return checkInput();
        })

        function checkInput() {
            var PhanThuong = parseInt($("input[name='phanthuong']:checked").data("price"));
            var SoTien = parseInt($("#SoTien").autoNumeric("get"));
            //Không nhập tiền tài trợ hoặc nhập số 0
            if ((SoTien == '0' || SoTien < 50000) && PhanThuong == "0") {
                $('.uploadanh').slideDown();
                $('.uploadanh1').slideUp();
                return false;
            }
                //Nhập tiền tài trợ thấp hơn phần thưởng đã chọn
            else if (SoTien < PhanThuong && PhanThuong != "0") {
                //alert('vao day');
                $('.uploadanh1').slideDown();
                $('.uploadanh').slideUp();
                return false;
            }
                //Nhập tiền tài trợ thấp hơn 50.000 khi bạn không chọn phần thưởng nào
                //else if(parseInt(SoTien) < 50000 && PhanThuong == 0)
                //{
                //    $('.uploadanh').val("Vui lòng nhập số tiền tài trợ lớn hơn hoặc bằng " + PhanThuong.autoNumeric('set') + " để chọn phần thưởng này");
                //    jQuery('.uploadanh').slideDown();
                //}
            else {
                $('.uploadanh').slideUp();
                $('.uploadanh1').slideUp();
                $("#SoTien").val(SoTien);
                return true;
            }            
        };
    </script>

}